<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
</head>

<body>
<h1>Title: {{ .title }}</h1>
Content of the document......

<img src="/static/lewis-ngugi-186309.jpg">
<img src="static/lewis-ngugi-186309.jpg">
<img src="./static/lewis-ngugi-186309.jpg">

</body>
</html>