<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
</head>

<body>
<h1>{{ .title }}</h1>

<img src="/static/lewis-ngugi-186309.jpg" alt="Computer Screen showing Software Development" height="480" width="720">

<ul><h6>Routes</h6>
    <li><a href="/json">Echo Request as JSON</a></li>
</ul>

</body>
</html>